html {
    font-family: Helvetica, Roboto, sans-serif;
}

body {
    background: #232323;
    display: flex;
    flex-direction: column;

    align-items: center;
}

div.title {
    color: #dadada;
    font-size: 40px;
}

div #day {
    color: #dadada;
    font-size: 30px;
}

span.coloured {
    color: lightcoral;
}

.page {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: var(--image_width);

}

.container{
    position: relative;

    flex-direction: row;

    width: var(--image_width);
    height: var(--image_height);

    overflow: hidden;
/*    border: 4px outset #6a6a6a;*/
}

.fade_out_container{
    position: absolute;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    z-index: 10;

    opacity: 0;
    transition: opacity 1500ms linear;
    -moz-transition: opacity 1500ms linear;
    -webkit-transition: opacity 1500ms linear;
    -o-transition: opacity 1500ms linear; 
    -ms-transition: opacity 1500ms linear;

    width: var(--image_width);
    height: var(--image_height);
}

.image_style {
    position: relative;

    width: 100%;
    height: 100%;

    z-index: 1;

    transform: scale(5.0);
}

.image_style_transitions {
    transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    -ms-transition: transform 250ms ease-in;
}



.guesses_container {
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: 2% 0;
    padding: 0 5%;
}

.guesses_container div {
/*    text-align: center;*/
    justify-content: center;
    align-items: center;
    display: flex;

    width: 30px;
    height: 30px;
    border: 1px solid black;
    background: white;
}



.search {
 /*   align-items: center;
    display: flex;
    flex-direction: column;*/

    width: 100%;
}

.suggestions_list {
    overflow-x: hidden;
    overflow-y: auto;
    background: white;

    height: auto;
    width: 25%;
    z-index: 8000;

    margin-top: 2px;

    display: none;

    list-style: none;
    list-style-position: outside;

    padding: 0;
    margin: 0;

    position: absolute;
}

.suggestions_list li {
    color: #AD2513;

    padding: .5rem;

    display: none;
    font-size: 18px;
}

.suggestions_list li:hover {
    background: black;
}




.guess_input {
    width: 392px;
    height: 5%;

    margin-top: 4px;

    font-size: 24px;
    color: #dadada;
    background: #6b6b6b;

    padding-left: 4px;
}

.guess_button {
    width: var(--image_width);
    height: 5%;
    font-size: 24px;

    background: #6b6b6b;
    color: #dadada;

    margin-top: 8px;
}

.guess_button:hover {
    background: #595959;
    cursor: pointer;
}



.result {
    position: relative;

    flex-direction: row;
    width: 100%;

    text-align: center;

    display: none;

    font-size: 18px;

    padding: 2px 0;
}

.result_won {
    background: #1BD618;

    display: block;
}

.result_lost {
    background: #AD2513;

    display: block;
}


.small_clickable {
    position: absolute;

    bottom: 10px;

    font-size: 16px;
    color: #7a7a7a;
}

#submit_image {
    left: 20px;
}
#buy_coffee {
    right: 20px;
}

.small_clickable:hover {
    color: #686868;
    cursor: pointer;
}

